<h4 class="page-header">New Problem</h4>

<% @isNewProblem = true %>
<%= form_with model: @problem, url: :import_create_problems,  method: :post, multipart: true do |f|%>
    <%= puts :import_create_problems %>
    <%=  f.file_field :json_file %>
    <%=  f.submit 'Import', class: 'btn btn-primary' %>
<% end %>

<%= link_to 'Back to Problems List', problems_path, class: 'btn btn-default btn-xs' %>
