<h4 class="page-header">New Problem</h4>

<% @isNewProblem = true %>
<%= form_with model: Problem.new, url: :import_problems,  method: :post, multipart: true, remote: true, id: "problem-form" do |f|%>
    <%= render partial: "shared/errors", locals: {errors: @problem_errors, item: 'problem'} %>
    <div class="alert alert-danger", style="display: none", id="alert_message"></div>

    <div class="form-group">
        <%=  f.label  :upload_type,  "Upload type"%>
        <%=  f.select :upload_type , [['zjson', 'zjson'], ['poloygon', 'poloygon']], {selected: "poloygon"}, {id: "type-select", class: "form-control"} %> 
    </div>

    <div class="form-group">
        <%=  f.label :file, "Upload file"%>
        <%=  f.file_field :file, {class: 'form-control flat', id: 'file'} %>
    </div>


    <div class="form-group", id="language-select-group">
        <%=  f.label  :language ,"Poloygon language" %>
        <%=  f.select :language, [['english','english'], ['chinese','chinese']], {selected: "chinese"}, {id: "language-select", class: "form-control"}%>
    </div>

    <div class="form-group", style="display: flex, margin-bottom: 0.5em">
    <%=  f.submit 'Import', class: 'btn btn-primary', id: 'submit-button' %>
    <div class="fade" id="progress-fade" style="flex: 1 0 0%;">
        <div class="progress progress-striped active" role="progressbar" style="margin-bottom: 0.25em; border-radius: 4px; height: 20px; background: #f0faf0;">
            <div id="progress-inner-bar" class="progress-bar progress-bar-success" style="width: 0%;"></div>
        </div>
            <div id="progress-text" class="progress-extended small"></div>
    </div>
<% end %>


<!-- make prgress bar -->
<%= link_to 'Back to Problems List', problems_path, class: 'btn btn-default btn-xs' %>


<%= javascript_include_tag "problem_import" %>

<script>
$(initProblemImport)
</script>